extends _layout

block head
  link(rel='stylesheet', href='/data-viz.css')
  link(rel='stylesheet', href='/engagement-list.css')

  script.
    RedThread.page = {};
    RedThread.page.tweets = !{JSON.stringify(tweets)}

  script(src='/templates.js')
  script(src='/utils.js')
  script(src='/calculate.js')
  script(src='/engagement-list.js')

block content
  .page-container
    #nav
      ul
        li
          a(href='/sunburst')<i class="fa fa-pie-chart"></i> Deep Dive
        li
          a(href='/line-graph')<i class="fa fa-line-chart"></i> Overview
        li.active
          a(href='/engagement-list')<i class="fa fa-cogs"></i> Specifics

    ul#engagements
