extends _layout

block head
  link(rel='stylesheet', href='/data-viz.css')
  link(rel='stylesheet', href='/line-graph.css')

  script(src='/templates.js')
  script(src='/utils.js')
  script(src='/calculate.js')
  script(src='/controls.js')
  script(src='/time-selector.js')
  script(src='/line-graph.js')
  script(src='/line-graph-controller.js')

block content
  .page-container
    #nav
      ul
        li
          a(href='/sunburst') Deep Dive
        li.active
          a(href='/line-graph') Overview
        li
          a(href='/engagement-list') Specifics

    #controls
      .control
        h4 Strategy
        form
          label
            input.strategy-input(type='radio', name='strategy-type', value='pillar', checked)
            | Pillar
          label
            input.strategy-input(type='radio', name='strategy-type', value='authority')
            | Authority
      .control
        h4 View Model
        form
          label
            input.view-model-input(type='radio', name='model-by', value='influence', checked)
            | Impact
          label
            input.view-model-input(type='radio', name='model-by', value='count')
            | Post Frequency
      #time-selector

    #key

    #graphic.line-graph

    #time-selector
