extends _layout

block head
  link(rel='stylesheet', href='/sunburst.css')
  script(src='/utils.js')
  script(src='/calculate.js')
  script(src='/time-selector.js')
  script(src='/sunburst-controller.js')
  script(src='/sunburst.js')

block content
  .page-container
    #controls
      .control
        h4 Strategy
        form
          label
            input.strategy-input(type='radio', name='strategy-type', value='pillar', checked)
            | Pillar
          label
            input.strategy-input(type='radio', name='strategy-type', value='authority')
            | Authority
      .control
        h4 View Model
        form
          label
            input.scale-input(type='radio', name='scale-by', value='influence', checked)
            | Impact
          label
            input.scale-input(type='radio', name='scale-by', value='count')
            | Post Frequency
      .time-selector

    #key

    .graphic-container
      #graphic

    .drawer
      .details
