extends _layout

block head
  link(rel='stylesheet', href='/data-viz.css')
  link(rel='stylesheet', href='/sunburst.css')
  script(src='/utils.js')
  script(src='/calculate.js')
  script(src='/sunburst-controller.js')
  script(src='/sunburst.js')

block content
  .page-container
    .graphic-container
      #graphic
    .drawer
      ul#breadcrumb
      .details
