extends _layout

block head
  link(rel='stylesheet', href='/sunburst.css')
  script(src='/calculate.js')
  script(src='/sunburst-controller.js')
  script(src='/sunburst.js')

block content
  .sunburst
    .graphic-container
      #sunburst
    .drawer
