extends _layout

block head
  link(rel='stylesheet', href='/tag-posts.css')
  link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')

  script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
  script(src='/tag-posts.js')
  script.
    var tweets = !{JSON.stringify(tweets)}

block content
  .container
    h1.page-header Tag Content
    ul.list-group#tweets
