extends _layout

block head
  link(rel='stylesheet', href='/view-data.css')
  script(src='/calculate.js')
  script(src='/sunburst.js')
  script(src='/view-data.js')

block content
  .sunburst
    .graphic-container
      #sunburst
    .drawer
