body, html{
  width: 100%;
  height: 100%;
  font-family: Helvetica;
}
body{
  color: #ecf0f1;
  background: #202020;
}
a {
  color: #ecf0f1;
}
path {
  stroke: #202020;
}



.page-container{
  position: relative;
  width: 100%;
  height: 100%;
}




#nav{
  position: fixed;
  z-index: 2;
  top: 0;
  width: 100%;
  background: black;
  border-bottom: 1px solid #363636;
}
#nav ul{
  margin: 0;
  padding: 0;
}
#nav li:first-child{
  margin-left: 150px;
}
#nav li.active:first-child{
  border-right: 1px solid #404040;
}
#nav li.active:last-child{
  border-left: 1px solid #404040;
}
#nav li{
  list-style-type: none;
  margin: 0;
  display: inline-block;
  font-weight: bold;
  font-size: 90%;
  background-color: #2B2B2B;
  border-left: 1px solid black;
  text-shadow: 0 1px black;
}
#nav li.active{
  background: #202020;
  border-left: 1px solid #404040;
  border-right: 1px solid #404040;
}
#nav li.active a{
  background: #202020;
}
#nav a{
  position: relative;
  text-decoration: none;
  padding: 15px 20px 19px 20px;
  display: block;
  top: 4px;
}




#key{
  z-index: 2;
  position: absolute;
  padding: 5px 25px 10px 10px;
  top: 80px;
  background: #252525;
  font-size: 90%;
}
#key h2{
  margin: 5px 0;
}
#key ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#key li{
  padding-top: 5px;
}
#key .key{
  width: 75px;
  display: inline-block;
}
#key .bar{
  width: 10px;
  height: 10px;
  margin-right: 5px;
  display: inline-block;
}




#time-selector{
  display: inline-block;
  position: absolute;
  bottom: 0;
  height: 105px;
}
#time-selector text{
  font-size: 80%;
}
#time-selector svg{
  position: absolute;
  bottom: 0;
}
#time-selector path           { stroke-width: 2px;            }
#time-selector path.none      { stroke : rgb(118, 250, 254);  }
#time-selector path.create    { stroke : rgb(254, 240, 121);  }
#time-selector path.music     { stroke : rgb(252, 71, 195);   }
#time-selector path.celebrate { stroke : rgb(76, 253, 89);    }
#time-selector path.style     { stroke : rgb(191, 74, 251);   }
#time-selector path.crew      { stroke : rgb(114, 164, 252);  }
#time-selector path.craft     { stroke : rgb(76, 253, 89);    }
#time-selector path.inspire   { stroke : rgb(191, 74, 251);   }
#time-selector path.play      { stroke : rgb(254, 240, 121);  }
#time-selector path.discover  { stroke : rgb(252, 71, 195);   }
#time-selector text{
  fill: #ecf0f1;
}
#time-selector .brush{
  fill: rgba(255,255,255,.15);
}
#time-selector path{
  stroke: #ecf0f1;
  fill: none;
}
#time-selector path.domain {
  stroke: rgba(255,255,255,.25);
}




#controls{
  border-top: 1px solid #363636;
  box-shadow: -1px 1px 3px rgba(0,0,0,.8);
  position: fixed;
  bottom: 0;
  background: #252525;
  width: 100%;
  height: 105px;
}
#controls .control{
  padding: 10px 15px 15px;
  display: inline-block;
  width: 150px;
  border-right: 1px solid #363636;
}
#controls .control h4{
  margin: 0;
  font-size: 110%;
  margin-bottom: 7px;
}
#controls .control input{
  margin-right: 10px;
}
#controls .control label{
  display: block;
  font-size: 90%;
  padding-top: 10px;
}


.fa.fa-bolt{
  padding-left: 5px;
  color: orange;
  vertical-align: text-top;
  font-size: 80%;
  margin-top: -5px;
}
