#controls{
  height: 120px;
  z-index: 2;
}

#engagements{
  margin: 0;
  padding: 50px 0 150px 0;
  list-style-type: none;
}

#engagements h2{
  font-size: 120%;
}
#engagements h3{
  margin-top: 0;
  line-height: 140%;
}
#engagements h4{
  margin-bottom: 10px;
}

#engagements .tweet{
  overflow: hidden;
  position: relative;
}
#engagements .scores{
  float: left;
  position: absolute;
  height: 100%;
  background-color: #2B2B2B;
  width: 100px;
}
#engagements .scores i{
  padding-right: 7px;
}
#engagements .scores .score{
  padding-bottom: 5px;
  font-size: 90%;
  padding-left: 25px;
}
#engagements .scores .total{
  font-size: 150%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: red;
  background-color: rgba(255,255,255,.1);
  padding: 10px 0;
}

#engagements .tweet-details {
  padding: 10px 10px 10px 150px;
  border-bottom: 1px solid #363636;
}
#engagements .tweet-details .container{
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}
#engagements .twitter-stat{
  padding-bottom: 5px;
}
#engagements .twitter-stat .key{
  width: 125px;
  display: inline-block;
}
#engagements .strategy-list .checkbox{
  display: inline-block;
  width: 100px;
  margin-right: 15px;
}
#engagements .strategy-list input{
  margin-right: 5px;
}
