#engagements{
  margin: 60px 10px 0;
  padding: 0;
  list-style-type: none;
  -webkit-column-count: 3;
}


#engagements h4{
  margin-bottom: 10px;
}


#engagements li{
  -webkit-column-break-inside: avoid;
  background-color: white;
  color: #2B2B2B;
  border-radius: 2px;
  margin-bottom: 20px;
}
#engagements li:last-child{
  margin-right: 0px;
}


#engagements h2.tweet-text{
  padding: 5px;
  line-height: 125%;
  margin: 7px;
  font-size: 120%;
  font-weight: normal;
  padding-top: 12px;
}
#engagements h3.date{
  font-size: 80%;
  float: right;
  opacity: .7;
  margin: 0;
  margin: 5px;
  text-align: right;
  font-weight: normal;
  margin-bottom: 5px;
}

#engagements .scores {
  border-bottom: 1px solid #dfdddd;
  overflow: hidden;
}
#engagements .scores .score{
  font-size: 90%;
  float: left;
  width: 25%;
  text-align: center;
  border-right: 1px solid #dfdddd;
  padding: 14px 0;
  box-sizing: border-box;
}
#engagements .scores .score:last-child{
  border-right: none;
  padding-bottom: 0;
  font-size: 150%;
  font-weight: bold;
  padding-top: 11px;
}
#engagements .scores i{
  padding-right: 7px;
}


#engagements .button{
  display: inline-block;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  color: #363636;
  border-right: 1px solid white;
  border-top: 1px solid #dfdddd;
  border-bottom: 1px solid #dfdddd;
  background: linear-gradient(to bottom, #f4f5f5, #dfdddd);
  padding: 15px 0;
}
#engagements .button.down{
  background: #CCCCCC;
}
#engagements .strategy-list .button:last-child{
  border-right: none;
}
#engagements .pillars .button{
  width: 25%;
}
#engagements .authorities .button{
  width: 20%;
}


#engagements .strategy-list {
  border-bottom: 1px solid white;
}

#engagements .top-engagements{
  padding: 0 5px 1px;
}
#engagements .top-engagements ul{
  list-style-type: none;
  padding: 0;
}
#engagements .top-engagements li{
  margin-bottom: 15px;
}
#engagements .top-engagements li:last-child{
  margin-bottom: 5px;
}
#engagements .top-engagements .score{
  width: 50px;
  display: inline-block;
}
#engagements .top-engagements .type{
  width: 65px;
  display: inline-block;
}
#engagements .top-engagements a{
  color: #202020;
}
