.drawer{
  background: #252525;
  width: 35%;
  position: absolute;
  right: 0;
  top: 0;
}

.drawer section{
  position: relative;
  border-bottom: 3px solid #202020;
}
.drawer section .content{
  padding: 15px;
  overflow: hidden;
}

.drawer .flag{
  position: absolute;
  width: 5px;
  height: 100%;
}

.drawer .key{
  min-width: 130px;
  vertical-align: top;
  padding-top: 7px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 80%;
  display: inline-block
}
.drawer .value{
  font-size: 160%;
  display: inline-block;
  text-transform: capitalize;
}

.drawer .tweet{
  color: rgba(255,255,255,.5);
  font-style: italic;
  padding: 0px 15px 15px 145px;
  margin-top: -15px;
  line-height: 140%;
}


.drawer .score{
  float: right;
  width: 90px;
}
.drawer .score span{
  display: block;
}
.drawer .score span.percent{
  font-weight: bold;
  font-size: 130%;
  padding-bottom: 5px;
}


.drawer .user-details{
  margin-top: 0;
  list-style-type: none;
  padding: 0;
}
.drawer .user-details .key{
  padding-top: 0px;
}
.drawer .user-details .value{
  font-size: 100%;
  font-weight: bold;
}
.drawer .user-details li{
  margin-bottom: 10px;
}




.graphic-container{
  width: 65%;
  display: table;
  height: 85%;
}
#graphic{
  text-align: center;
  vertical-align: middle;
}
