.drawer p.tweet{
  font-size: 120%;
  margin: 0;
}
.drawer .who ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.drawer .who .key{
  display: inline-block;
  width: 155px;
}
.drawer h2{
  text-transform: capitalize;
}
.drawer h3{
  float: right;
  padding-top: 4px;
}
path {
  stroke: #2c3e4f;
}
